<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>conversationUsername</key>
    <string>8f973211-f0df-462c-9507-39072f48a9fd</string>
    <key>conversationPassword</key>
    <string>8WuGV6o0uiYW</string>
    <key>conversationUrl</key>
    <string>https://gateway.watsonplatform.net/assistant/api</string>
    <key>appName</key>
    <string>VirtualAssistantforiOSwithWatsonBOKEI</string></dict>
</plist>
