<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversationUsername</key>
	<string>9a98261d-08d2-4cc3-a717-4636c3af4d12</string>
	<key>conversationPassword</key>
	<string>sjb3aUcdJ3C4</string>
	<key>conversationUrl</key>
	<string>https://gateway-fra.watsonplatform.net/assistant/api</string>
	<key>appName</key>
	<string>BankingFary</string>
</dict>
</plist>
